<!DOCTYPE html>
<html ng-app="brainstormApp">
  <head>
    <title>Local Brainstorm</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '642997825848133',
          xfbml      : true,
          version    : 'v2.6'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class ="container">
      <div class="page-header">
        <h1>Local Brainstorm <small>some tagline</small></h1>
        <!-- Check if user is logged in -->
        <% if(req.session.user != null) {
        %>
        <a href="/logout" role="button" class="btn btn-primary">Log Out</a>
        <%
        }
        %>

        <!-- Check if Org is logged in -->
        <% if(req.session.org != null) {
        %>
        <a href="/logout" role="button" class="btn btn-primary">Log Out</a>
        <%
        }
        %>
      </div>
      <%- body %>



      <!--
          Client-side Templates
          ========================

          HTML templates are important prerequisites of modern, rich client applications.
          To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
          that you load these templates client-side.

          By default, your Gruntfile is configured to automatically load and precompile
          client-side JST templates in your `assets/templates` folder, then
          include them here automatically (between TEMPLATES and TEMPLATES END).

          To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
          For example, here are a few things you could do:

              + Import templates from other directories
              + Use a different template engine (handlebars, jade, dust, etc.)
              + Internationalize your client-side templates using a server-side
                stringfile before they're served.
      -->

      <!--TEMPLATES-->
      <script type="text/javascript" src="/jst.js"></script>
      <!--TEMPLATES END-->


      <!--

        Client-side Javascript
        ========================

        You can always bring in JS files manually with `script` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, files in your `assets/js` folder are included here
        automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
        CoffeeScript (.coffee) are supported. In production, your scripts will be minified
        and concatenated into a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your scripts
            + Import scripts from other directories
            + Use a different preprocessor, like TypeScript

      -->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.min.js"></script>
      <script src="/js/dependencies/angular-password/angular-password.js"></script>
      <script src="/js/dependencies/angular-password/angular-password.min.js"></script>
      <script src="/js/dependencies/ui-bootstrap-tpls-1.3.2.min.js"></script>
      <script src="/js/app.js"></script>
      <script src="/js/controllers/usersController.js"></script>
      <script src="/js/factories/usersFactory.js"></script>
      <!--SCRIPTS END-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    </div>
  </body>
</html>
