<div ng-if="uc.err" class="alert alert-danger">
	<p><strong>Oops!</strong> {{uc.err}}</p>
</div>
<div class="row">
	<div class="col-xs-6">
		<h2>Register</h2>
		<form name="register">
			<div class = "form-group" ng-class="{'has-error':register.first_name.$invalid && register.first_name.$dirty}">
				<label for="first_name">First Name:</label>
				<input type="text" name="first_name" ng-model="uc.new_user.first_name" ng-maxlength="45"required>
				<ul class="help-block has-error" ng-if="register.first_name.$dirty">
					<li ng-show="register.first_name.$error.required">First Name is required</li>
					<li ng-show="register.first_name.$error.maxlength">Name can't be more than 45 characters</li>
				</ul>
			</div>
			<div class="form-group" ng-class="{'has-error':register.last_name.$invalid && register.last_name.$dirty}">
				<label for="last_name">Last Name:</label>
				<input type="text" name="last_name" ng-model="uc.new_user.last_name" ng-maxlength="45"required>
				<ul class="help-block has-error" ng-if="register.last_name.$dirty">
					<li ng-show="register.last_name.$error.required">Last Name is required</li>
					<li ng-show="register.last_name.$error.maxlength">Name can't be more than 45 characters</li>
				</ul>
			</div>
			<div class="form-group" ng-class="{'has-error':register.email.$invalid && register.email.$dirty}">
				<label for="email">Email:</label>
				<input type="email" name="email" ng-model="uc.new_user.email" required>
				<ul class="help-block has-error" ng-if="register.email.$dirty">
					<li ng-show="register.email.$error.required">Email is required</li>
					<li ng-show="register.email.$error.email">Not a valid email address</li>
				</ul>
			</div>
			<div class="form-group" ng-class="{'has-error':register.password.$invalid && password.$dirty}">
				<label for="password">Password:</label>
				<input name="password" type="password" ng-model="uc.new_user.password" ng-minlength="6" required>
				<ul class="help-block has-error" ng-if="register.password.$dirty">
					<li ng-show="password.$error.required">Password is required</li>
					<li ng-show="register.password.$error.minlength">Password must be at least 6 characters.</li>
				</ul>
			</div>
			<div class="form-group" ng-class="{'has-error':register.confirmPassword.$invalid && confirmPassword.$dirty}">
				<label>Confirm Password:</label>
				<input match-password="password" type="password" name="confirmPassword" ng-model="uc.new_user.confirm_password" required>
				<ul class="help-block has-error" ng-if="register.confirmPassword.$dirty">
					<li ng-show="register.confirmPassword.$error.required">Please retype password</li>
					<li ng-show="register.confirmPassword.$error">Passwords must match.</li>
				</ul>
			</div>
			<button class="btn btn-lg" type="submit" ng-click="uc.create()" ng-disabled="register.$invalid">Create Account</button>
		</form>
	</div>
	<div class="col-xs-6">
		<h2>Sign In</h2>
		<form name ="login">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" name="email" ng-model="uc.new_session.email" required>
				<p ng-show="login.email.$touched && login.email.$invalid" class="help-block has-error">Please enter an email address</p>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" ng-model="uc.new_session.password" required>
				<p ng-show="login.password.$touched && login.password.$invalid" class="help-block has-error">Please enter a password</p>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-lg" ng-click="uc.createSession()">Sign In</button>
			</div>
			<div class="form-group">
				<h2>or</h2>
				<a href="/login/facebook" role="button" class="btn btn-primary btn-lg">Facebook Login</a>
			</div>
		</form>
	</div>
</div>