<!-- initialize function with page so user info from fb can be retrieved as angular variable (ng-if with javascript variable not working) -->
<div ng-controller="usersController as uc">
	<h1>Some Posts</h1>
	<%= req.session.user.name %>
	<img src="<%=req.session.user.picture%>">
	<%= user.name %>
</div>